{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {{ parent() }}


<div class="container">
    <br><h1 align="center" class="font-weight-normal" >Cours index</h1><br>

    <table class="text-primary" align="center" bgcolor="#b0e0e6" cellspacing="5" cellpadding="5"  border="2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr align="center">
                <td>{{ cour.id }}</td>
                <td>{{ cour.intitule }}</td>
                <td>
                    <a href="{{ path('cours_show', {'id': cour.id}) }}"><span class="badge badge-pill badge-info">Show</span></a>
                    <a href="{{ path('cours_edit', {'id': cour.id}) }}"><span class="badge badge-pill badge-success">Edit</span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <br><center><a href="{{ path('cours_new') }}"><button type="button" class="btn btn-primary">Create New</button></a></center><br>
{% endblock %}
