{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}

    <br><h1 align="center" class="font-weight-normal" >Cours</h1><br>

<table class="text-primary" align="center" bgcolor="#b0e0e6" cellspacing="5" cellpadding="5"  border="2">
        <tbody>
            <tr align="center">
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr align="center">
                <th>Intitule</th>
                <td>{{ cour.intitule }}</td>
            </tr>
            <tr align="center">
                <td colspan="2"><center><a href="{{ path('cours_edit', {'id': cour.id}) }}"><button type="button" class="btn btn-success">edit</button></a></center></td>
            </tr>
        </tbody>
    </table>
    <br>
    <table align="center">
        <tr align="center">
            <td>{{ include('cours/_delete_form.html.twig') }}</td>
            <td><a href="{{ path('cours_index') }}"><button type="button" class="btn btn-danger">back to list</button></a></td>
        </tr>
    </table>
{% endblock %}
